body {
        background-color: #1a1a1a;
        color: #ffffff;
        font-family: Arial, sans-serif; 
        overflow-x: hidden; 
        
    }

    h1 {
        text-align: center;
        margin-top: 50px;
    }

    p {
        background-color: #333333;
        color: #cccccc;
        padding: 20px;
        border-radius: 20px;
        margin-left: 300px;
        margin-right: 300px;
    }
    pre {
        background-color: #333333;
        color: #ccffcc;
        border-radius: 5px;
        white-space: pre-wrap;  
    }
    img {
        display: block;
        margin: 10px auto;
        border: 10px solid #333333;
        border-radius: 10%;
      }

    footer {
        background-color: #333333;
        color: #cccccc;
        text-align: center;
        padding: 10px;
        width: 100%;
        position: relative;
        bottom: 0;
        margin-left: 0;
        left: 0;
      }
      
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
    .footer-name {
        margin-bottom: 5px;
        align-self: flex-end;
      }
      
    .footer-copy {
        font-size: 14px;
      }

    .console {
        max-width: 700px; /* Ajuste a largura máxima desejada para o console */
        margin-left: 300px;

      }
    .console-container {
        display: flex;
        justify-content: center;
      }
    

